<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" metadata-complete="true" version="2.5">
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>com.taiji.tscp.platform.comm.web.comm.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>TscpWebFilter</filter-name>
    <filter-class>com.taiji.tscp.platform.web.generate.TscpWebFilter</filter-class>
    <init-param>
      <param-name>enable</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>ignoreUrl</param-name>
      <param-value>/swordweb/html/error/error.jsp,/swordweb/widgets/SwordFile/SwordFileTarget.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>TscpWebFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <url-pattern>*.html</url-pattern>
    <url-pattern>*.htm</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>tscp</servlet-name>
    <servlet-class>com.taiji.tscp.platform.web.servlet.Tscp</servlet-class>
    <init-param>
      <param-name>Ultimate</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>tscp</servlet-name>
    <url-pattern>*.tscp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tscp</servlet-name>
    <url-pattern>/tscp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tscp</servlet-name>
    <url-pattern>/swordredownload/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>1800</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>pages/demo/login/easyuidatagrid.html</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/taglib/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/taglib/fmt.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>